.hero {
  height: 670px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 170px;
  padding-bottom: 113px;

  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #212121;
}

.hero__title {
  font-family: Merriweather;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 48px;
  color: white;
  line-height: 1.38;
}

.hero__button {
  min-width: 270px;
  padding: 19px 18px;
  background-color: #005FA3;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  color: white;
  text-align: center;
  border: transparent;
  margin-bottom: 70px;
}

.clider {
  display: flex;
  justify-content: end;
}